<img src="<%= @profile_path %>"> </img> Welcome to the grove <%= @profile['first_name'] %>. <br/ > We are a marketplace focused on spreading good karma in your local and our global communities.

<% if @product and @product.name %>
  Thanks for donating <%= @profile['first_name'] %>
  <br />
  Thanks for your recent purchase of <%= @product.name %>.
<% end %>


<% if @purchases and @purchases.count and @user %>
  You have made <%= link_to "#{@purchases.count} purchases", "/purchases/user/#{@user.id}" %> on Karma Grove.
<% elsif @purchases and @purchases.count  %>
  You have made <%= purchases.count %> on Karma Grove.
<% end %>

<% if @purchases and @purchases.last.product.name == "Teaching of Buddha" %>
  <p> Would you like to share your most recent purchase of Teaching of Buddha and your donation to <%= @purchases.last.donation.charity.legal_name %>?
  </p>
  <div class="fb-share-button" data-href="http://www.karmagrove.com/buddha" data-type="button_count"></div>

<% end %>

<h2> <%= link_to "Buy some Karma Coins??", "/products?name=Karma Coin" %>   </h2>

<h1> <b> Coming soon </b> </h1>

<h2> Sell an item in your local marketplace?  </h2>

<h2> Browse the market </h2>

<h2> Karma Grove donation record </h2>

<% if @user %>
	<%= link_to "Your past purchases", "/purchases/user/#{@user.id}" %>

<% end %>