<% javascript 'purchases.js' %>

<%= form_for [@product, @purchase], :url => {:route => "edit_product_purchase"}, :class =>"edit_purchase" do |f| %>
  <% if @purchase.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>
      <ul>
      <% @purchase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <h2> You are purchasing <%= @product.name %> </h2>

  <% if @product.image_url %>

    <%= image_tag(@product.image_url,{:alt => @product.name}) %>

  <% end %>

  <%= f.hidden_field :buyer_id %>
  <%= f.hidden_field :id %>


  <%= fields_for :product do |product| %>
    <%= product.hidden_field :id, :value => @product.id %>
  <% end %>

  <% if current_user %>
  <%= fields_for :user do |buyer| %>
    <%= buyer.hidden_field :email, :value => current_user.email %>
  <% end %>
  <%end %>

  <div>
    <label>Name on Card</label>
    <input type="text" id="cc-name" autocomplete="off" placeholder="John Doe" />
  </div>
  <div>
    <label>Card Number</label>
    <input type="text" id="cc-number" autocomplete="off" placeholder="4111111111111111" maxlength="16" />
  </div>
  <div>
    <label>Expiration</label>
    <input type="text" id="cc-ex-month" autocomplete="off" placeholder="01" maxlength="2" />
    <input type="text" id="cc-ex-year" autocomplete="off" placeholder="2013" maxlength="4" />
  </div>
  <div>
    <label>Card Verification Code (CVV)</label>
    <input type="text" id="ex-cvv" autocomplete="off" placeholder="453" maxlength="4" />
  </div>
  <div>
    <label>Postal Code</label>
    <input type="text" id="ex-postal-code" autocomplete="off" placeholder="453" />
  </div>

  


  <% unless current_user %>
    <%= fields_for :user do |buyer| %>
    <%= label_tag :email, "Your email " %>
    <%= text_field_tag :email, nil, name: nil %>
    <% end %>
  <% end %>
   <div id="stripe_error">
    <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
  </div>
  <a id="cc-submit">Tokenize</a>
  <!-- <div class="actions"><%= f.submit "Purchase" %></div> -->

<% end %>