<%= form_for [@product, @purchase], :url => {:action => "create"} do |f| %>
  <% if @purchase.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>
      <ul>
      <% @purchase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <h2> You are purchasing <%= @product.name %> </h2>

  <% if user_signed_in? %>

  <%= f.hidden_field :buyer_id %>
  <%= f.hidden_field :id %>


  <%= fields_for :product do |product| %>
    <%= product.hidden_field :id, :value => @product.id %>
  <% end %>


  <%= fields_for :user do |buyer| %>
    <%= buyer.hidden_field :email, :value => current_user.email %>
  <% end %>


  <div class="field">
      <%= label_tag :card_number, "Credit Card Number " %>
      <%= text_field_tag :card_number, nil, name: nil %>
  </div>
  <div class="field">
      <%= label_tag :card_code, "Security Code on Card (CVV)" %>
      <%= text_field_tag :card_code, nil, name: nil %>
  </div>
  <div class="field">
    <%= label_tag :card_month, "Card Expiration" %>
    <%= select_month nil, {add_month_numbers_true: true}, {name: nil, id: "card_month"}%>
    <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"}%>
  </div>


  <% else %>
  You must <%= link_to "create an account", "/users/new" %>  or  <%= link_to "sign in", "/users/login" %> to make a purchase.
<!--
<h2>Sign up</h2>

<%= form_for(:user, :as => "user", :url => "/users") do |f| %>


  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>
 -->
<% end %>




  <% end %>

   <div id="stripe_error">
    <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
  </div>
  <div class="actions"><%= f.submit "Purchase" %></div>

<% end %>