<h1>Listing batch_charities</h1>

<table>
  <tr>
    <th>Batch</th>
    <th>Charity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @batch_charities.each do |batch_charity| %>
  <tr>
    <td><%= batch_charity.batch_id %></td>
    <td><%= batch_charity.charity_id %></td>
    <td><%= link_to 'Show', batch_charity %></td>
    <td><%= link_to 'Edit', edit_batch_charity_path(batch_charity) %></td>
    <td><%= link_to 'Destroy', batch_charity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Batch charity', new_batch_charity_path %>
