<!-- http://localhost:3000/batches/1/donations/new -->

<h1 class="icon-align-center"> Give Good Karma </h1>
<br>
<h2> Choose the charity who benefits from your purchase </h2>

<% if @charities.nil? %>

  Hmm.. the charities dont seem to be set up.
  Feel free to look around or check out a batch with charities...

  <% unless @batch_charities.nil? %>
    <% @batch_charities.each do |batch_charity| %>
      <% link_to "other charity", "/donations/#{batch_charity.charity_id}" %>
    <% end %>
  <% end %>

<% else %>

  <% @charities.each do |charity| %>
    <br />
    <a href="/batches/<%=@batch.id%>/donations/<%=charity.id%>/purchases/<%=@purchase.id%>/update"> <button class="btn btn-    large btn-block" type="button">
      <h3> <%= charity.legal_name %>
         <% if charity.city && charity.state %>
           <small> <%= charity.city %>, <%= charity.state %> </small>
         <% elsif charity.city %>
           <small> <%= charity.city %> </small>
         <% elsif charity.state %>
           <small> <%= charity.state %> </small>
         <% else %>
         <% end %>
      </h3>
      <br />
      <%= charity.deductibility_status_description %>

    </button>
    </a>
  <% end %>
<% end %>
