<h1>Listing batches</h1>

<table>
  <tr>
    <th>Batch name</th>
    <th>Sales</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @batches.each do |batch| %>
  <tr>
    <td><%= batch.batch_name %></td>
    <td><%= batch.sales %></td>
    <td><%= link_to 'Show', batch %></td>
    <!-- <td><%= link_to 'Edit', edit_batch_path(batch) %></td> -->
    <!-- TODO: MAKE THIS AVAILABLE IF YOU ARE THE CREATOR?
    <td><%= link_to 'Destroy', batch, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Batch', new_batch_path %>
