<h1> Karma Coin Superfood Components </h1>
<br />
<table style="margin:20px;">
  <tr>
    <td style="padding-right:20px;">
      <ul>
        <li> <a class=".nutrition-pop" rel="popover" data-original-title="<h4>WHOLE GRAIN OATS <small> 20.7g</small></h4>" data-content=<%= render "about/nutrition_facts/oats"%>>Oats</a>                </li>
        <li> <a class=".nutrition-pop" rel="popover" data-original-title="<h4>PURE BEE HONEY <small> 13.1g</small></h4>" data-content=<%= render "about/nutrition_facts/honey"%>>Honey</a>                </li>
        <li> <a class=".nutrition-pop" rel="popover" data-original-title="<h4>HEMP SEED<small> 11.0g</small></h4>" data-content=<%= render "about/nutrition_facts/hemp_seeds"%>>Hemp Seed</a>           </li>
        <li> <a class=".nutrition-pop" rel="popover" data-original-title="<h4>WHEAT GERM<small> 6.5g</small></h4>" data-content=<%= render "about/nutrition_facts/wheat_germ"%>>Wheat Germ</a>          </li>
        <li> <a class=".nutrition-pop" rel="popover" data-original-title="<h4>ORGANIC DRIED BLUEBERRIES<small> 6.1g</small></h4>" data-content=<%= render "about/nutrition_facts/dried_blueberries"%>>Dried Blueberries</a>   </li>
        <li> <a class=".nutrition-pop" rel="popover" data-original-title="<h4>PURE COCONUT PALM SUGAR<small> 6.0g</small></h4>" data-content=<%= render "about/nutrition_facts/coconut_sugar"%>>Coconut Sugar</a>       </li>
        <li> <a class=".nutrition-pop2" rel="popover" data-original-title="<h4>DRIED HIMALAYAN GOJI BERRIES<small> 4.6g</small></h4>" data-content=<%= render "about/nutrition_facts/dried_goji_berries"%>>Goji Berries</a>  </li>
      </ul>
    </td>
    <td>
      <ul style="margin-top:-20px;">
        <li> <a class=".nutrition-pop" rel="popover" data-original-title="<h4>WALNUTS<small> 3.1g</small></h4>" data-content=<%= render "about/nutrition_facts/walnuts"%>>Walnuts</a>             </li>
        <li> <a class=".nutrition-pop" rel="popover" data-original-title="<h4>PECANS<small> 3.1g</small></h4>" data-content=<%= render "about/nutrition_facts/pecans"%>>Pecans</a>              </li>
        <li> <a class=".nutrition-pop" rel="popover" data-original-title="<h4>DARK CHOCOLATE CHUNK (70% COCOA)<small> 9.5g</small></h4>" data-content=<%= render "about/nutrition_facts/chocolate"%>>Dark Chocolate Chunk</a></li>
        <li> <a class=".nutrition-pop" rel="popover" data-original-title="<h4>HEMP OIL<small> 4.0g</small></h4>" data-content=<%= render "about/nutrition_facts/hemp_oil"%>>Hemp Oil</a>            </li>
        <li> <a class=".nutrition-pop" rel="popover" data-original-title="<h4>MOLASSES<small> 1.25g</small></h4>" data-content=<%= render "about/nutrition_facts/molasses"%>>Molasses</a>            </li>
        <li> <a class=".nutrition-pop" rel="popover" data-original-title="<h4>VANILLA<small> 1.0g</small></h4>" data-content=<%= render "about/nutrition_facts/vanilla"%>>Vanilla</a>             </li>
        <li> <a class=".nutrition-pop" rel="popover" data-original-title="<h4>CACAO NIBS<small> 13 g</small></h4>" data-content=<%= render "about/nutrition_facts/cacao"%>>Cacao</a>             </li>

      </ul>
    </td>
  </tr>
</table>

<br />

<style>

.popover{
  width:600px;
  height:auto;
}

</style>