<br />
<div class="table-container">

<h1> Ingredients Table </h1>

<br />

<div class="table-left">
  <table class="table table-hover table-condensed">
    <tr>
      <h4 class="ingredients-table-label"> One Batch (30-40)</h4>
    </tr>
    <tr>
      <td class="table-header">
        <h5>Name</h5>
      </td>
      <td class="table-header">
        <h5>Amount(grams)</h5>
      </td>
    </tr>
    <tr>
      <td>
        <a class=".nutrition-pop" rel="popover" data-original-title="<h4>WHOLE GRAIN OATS <small> 20.7g</small></h4>" data-content=<%= render "about/nutrition_facts/oats"%>>Oats</a>
      </td>
      <td>
       248.9
     </td>
   </tr>
   <tr>
    <td>
      <a class=".nutrition-pop" rel="popover" data-original-title="<h4>HEMP SEED<small> 11.0g</small></h4>" data-content=<%= render "about/nutrition_facts/hemp_seeds"%>>Hemp Seed</a>
    </td>
    <td>
      131.4
    </td>
  </tr>
  <tr>
    <td>
      <a class=".nutrition-pop" rel="popover" data-original-title="<h4>WHEAT GERM<small> 6.5g</small></h4>" data-content=<%= render "about/nutrition_facts/wheat_germ"%>>Wheat Germ</a>
    </td>
    <td>
      77.3
    </td>
  </tr>
  <tr>
    <td>
      <a class=".nutrition-pop" rel="popover" data-original-title="<h4>PURE BEE HONEY <small> 13.1g</small></h4>" data-content=<%= render "about/nutrition_facts/honey"%>>Honey</a>
    </td>
    <td>
      157.2
    </td>
  </tr>
  <tr>
    <td/>
    <a class=".nutrition-pop" rel="popover" data-original-title="<h4>PURE COCONUT PALM SUGAR<small> 6.0g</small></h4>" data-content=<%= render "about/nutrition_facts/coconut_sugar"%>>Coconut Sugar</a>
  </td>
  <td>
    72.0
  </td>
</tr>
<tr>
  <td>
    <a class=".nutrition-pop" rel="popover" data-original-title="<h4>MOLASSES<small> 1.25g</small></h4>" data-content=<%= render "about/nutrition_facts/molasses"%>>Molasses (tbsp)</a>
  </td>
  <td>
    1.0
  </td>
</tr>
<tr>
  <td>
    <a class=".nutrition-pop" rel="popover" data-original-title="<h4>VANILLA<small> 1.0g</small></h4>" data-content=<%= render "about/nutrition_facts/vanilla"%>>Vanilla (tsp)</a>
  </td>
  <td>
    2.0
  </td>
</tr>
<tr>
  <td>
    <a class=".nutrition-pop" rel="popover" data-original-title="<h4>WALNUTS<small> 3.1g</small></h4>" data-content=<%= render "about/nutrition_facts/walnuts"%>>Walnuts</a>
  </td>
  <td>
    37.3
  </td>
</tr>
<tr>
  <td/>
  <a class=".nutrition-pop" rel="popover" data-original-title="<h4>PECANS<small> 3.1g</small></h4>" data-content=<%= render "about/nutrition_facts/pecans"%>>Pecans</a>
</td>
<td>
  36.6
</td>
</tr>
<tr>
  <td/>
  <a class=".nutrition-pop" rel="popover" data-original-title="<h4>ALMONDS<small> 3.1g</small></h4>" data-content=<%= render "about/nutrition_facts/almonds"%>>Almonds</a>
</td>
<td>
  36.6
</td>
</tr>
<tr>
  <td>
    <a class=".nutrition-pop" rel="popover" data-original-title="<h4>ORGANIC DRIED BLUEBERRIES<small> 6.1g</small></h4>" data-content=<%= render "about/nutrition_facts/dried_blueberries"%>>Dried Blueberries</a>
  </td>
  <td>
    73.5
  </td>
</tr>
<tr>
  <td>
    <a class=".nutrition-pop2" rel="popover" data-original-title="<h4>DRIED HIMALAYAN GOJI BERRIES<small> 4.6g</small></h4>" data-content=<%= render "about/nutrition_facts/dried_goji_berries"%>>Goji Berries</a>
  </td>
  <td>
    54.7
  </td>
</tr>
<tr>
  <td>
    <a class=".nutrition-pop" rel="popover" data-original-title="<h4>HEMP OIL<small> 4.0g</small></h4>" data-content=<%= render "about/nutrition_facts/hemp_oil"%>>Hemp Oil (tbsp)</a>
  </td>
  <td>
    3.0
  </td>
</tr>
<tr>
  <td>
    <a class=".nutrition-pop" rel="popover" data-original-title="<h4> Cacao <small> 1/2 cup </small></h4>" data-content=<%= render "about/nutrition_facts/cacao"%>> Cacao (cups)</a>
    <td>
      0.5
    </td>
  </tr>

</table>
</div>

<br />

<div class="table-right">
  <tr><h4 class="ingredients-table-label">One Karma Coin</h4></tr>
  <table class="table table-hover table-condensed">
    <tr>
      <td class="table-header">
        <h5>Name</h5>
      </td>
      <td class="table-header">
        <h5>Amount(grams)</h5>
      </td>
    </tr>
    <tr>
      <td>
        <a class=".nutrition-pop" rel="popover" data-original-title="<h4>WHOLE GRAIN OATS <small> 20.7g</small></h4>" data-content=<%= render "about/nutrition_facts/oats"%>>Oats</a>
      </td>
      <td>
       20.7
     </td>
   </tr>
   <tr>
    <td>
      <a class=".nutrition-pop" rel="popover" data-original-title="<h4>HEMP SEED<small> 11.0g</small></h4>" data-content=<%= render "about/nutrition_facts/hemp_seeds"%>>Hemp Seed</a>
    </td>
    <td>
      11.0
    </td>
  </tr>
  <tr>
    <td>
      <a class=".nutrition-pop" rel="popover" data-original-title="<h4>WHEAT GERM<small> 6.5g</small></h4>" data-content=<%= render "about/nutrition_facts/wheat_germ"%>>Wheat Germ</a>
    </td>
    <td>
      6.5
    </td>
  </tr>
  <tr>
    <td>
      <a class=".nutrition-pop" rel="popover" data-original-title="<h4>PURE BEE HONEY <small> 13.1g</small></h4>" data-content=<%= render "about/nutrition_facts/honey"%>>Honey</a>
    </td>
    <td>
      13.1
    </td>
  </tr>
  <tr>
    <td/>
    <a class=".nutrition-pop" rel="popover" data-original-title="<h4>PURE COCONUT PALM SUGAR<small> 6.0g</small></h4>" data-content=<%= render "about/nutrition_facts/coconut_sugar"%>>Coconut Sugar</a>
  </td>
  <td>
    6.0
  </td>
</tr>
<tr>
  <td>
    <a class=".nutrition-pop" rel="popover" data-original-title="<h4>MOLASSES<small> 1.25g</small></h4>" data-content=<%= render "about/nutrition_facts/molasses"%>>Molasses (ml)</a>
  </td>
  <td>
    1.25
  </td>
</tr>
<tr>
  <td>
    <a class=".nutrition-pop" rel="popover" data-original-title="<h4>VANILLA<small> 1.0g</small></h4>" data-content=<%= render "about/nutrition_facts/vanilla"%>>Vanilla (ml)</a>
  </td>
  <td>
    1.0
  </td>
</tr>
<tr>
  <td>
    <a class=".nutrition-pop" rel="popover" data-original-title="<h4>WALNUTS<small> 3.1g</small></h4>" data-content=<%= render "about/nutrition_facts/walnuts"%>>Walnuts</a>
  </td>
  <td>
    3.1
  </td>
</tr>
<tr>
  <td/>
  <a class=".nutrition-pop" rel="popover" data-original-title="<h4>PECANS<small> 3.1g</small></h4>" data-content=<%= render "about/nutrition_facts/pecans"%>>Pecans</a>
</td>
<td>
  3.1
</td>
</tr>
<tr>
  <td/>
  <a class=".nutrition-pop" rel="popover" data-original-title="<h4>ALMONDS<small> 3.1g</small></h4>" data-content=<%= render "about/nutrition_facts/almonds"%>>Almonds</a>
</td>
<td>
  3.1
</td>
</tr>
<tr>
  <td>
    <a class=".nutrition-pop" rel="popover" data-original-title="<h4>ORGANIC DRIED BLUEBERRIES<small> 6.1g</small></h4>" data-content=<%= render "about/nutrition_facts/dried_blueberries"%>>Dried Blueberries</a>
  </td>
  <td>
    6.1
  </td>
</tr>
<tr>
  <td>
    <a class=".nutrition-pop2" rel="popover" data-original-title="<h4>DRIED HIMALAYAN GOJI BERRIES<small> 4.6g</small></h4>" data-content=<%= render "about/nutrition_facts/dried_goji_berries"%>>Goji Berries</a>
  </td>
  <td>
    4.6
  </td>
</tr>
<tr>
  <td>
    <a class=".nutrition-pop" rel="popover" data-original-title="<h4>HEMP OIL<small> 4.0g</small></h4>" data-content=<%= render "about/nutrition_facts/hemp_oil"%>>Hemp Oil (ml)</a>
  </td>
  <td>
    4.0
  </td>
</tr>
<tr>
  <td>
    <a class=".nutrition-pop" rel="popover" data-original-title="<h4>Cacao nibs (100% cacao) <small> 0.5g </small></h4>" data-content=<%= render "about/nutrition_facts/cacao"%>>Cacao Nibs</a>
    <td>
      9.5
    </td>
  </tr>
</table>
</div>
</div>

<br />

<h1>Nutrition Information</h1>

<br />

<p class="nutrition-info">Karma Grove uses whole, high-quality ingredients to make Karma Coins and the other edible treats available on this website.  We use local and organic ingredients when it is feasible.  </p>

<p class="nutrition-info"> Karma Coins are delicious treats that are free of gluten, processed sugar and grains, and comprised of multiple superfood ingredients like goji berries, hemp seeds, cocoa, and blueberries. A healthy and satisfying meal, these scrumptious dried fruit, oat and nut bars are packed with protein and fiber, and they provide quality calories for any activity. To round out their awesomeness, Karma Coins are also high in omega-3 fatty acids, anti-oxidants, and valuable minerals like calcium, iron and manganese. Sweet! </p>

<br />

<div class="table-bottom">
  <section class="performance-facts">
    <header class="performance-facts__header">
      <h1 class="performance-facts__title">Nutrition Facts</h1>
      <p>Serving Size 1 large bar (about 108g)
        <p>Serving Per Batch 12</p>
      </header>
      <table class="performance-facts__table">
        <thead>
          <tr>
            <th colspan="3" class="small-info">
              Amount Per Serving
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th colspan="2">
              <b>Calories</b>
              416
            </th>
            <td>
              Calories from Fat
              189
            </td>
          </tr>
          <tr class="thick-row">
            <td colspan="3" class="small-info">
              <b>% Daily Value*</b>
            </td>
          </tr>
          <tr>
            <th colspan="2">
              <b>Total Fat</b>
              21g
            </th>
            <td>
              <b>32%</b>
            </td>
          </tr>
          <tr>
            <td class="blank-cell">
            </td>
            <th>
              Saturated Fat
              3g
            </th>
            <td>
              <b>15%</b>
            </td>
          </tr>
          <tr>
            <td class="blank-cell">
            </td>
            <th>
              Trans Fat

            </th>
            <td>
            </td>
          </tr>
          <tr>
            <th colspan="2">
              <b>Cholesterol</b>
              2mg
            </th>
            <td>
              <b>> 1%</b>
            </td>
          </tr>
          <tr>
            <th colspan="2">
              <b>Sodium</b>
              8mg
            </th>
            <td>
              <b>0%</b>
            </td>
          </tr>
          <tr>
            <th colspan="2">
              <b>Total Carbohydrate</b>
              46g
            </th>
            <td>
              <b>15%</b>
            </td>
          </tr>
          <tr>
            <td class="blank-cell">
            </td>
            <th>
              Dietary Fiber
              5g
            </th>
            <td>
              <b>19%</b>
            </td>
          </tr>
          <tr>
            <td class="blank-cell">
            </td>
            <th>
              Sugars
              26g
            </th>
            <td>
            </td>
          </tr>
          <tr class="thick-end">
            <th colspan="2">
              <b>Protein</b>
              11g
            </th>
            <td>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="performance-facts__table--grid">
        <tbody>
          <tr>
            <td colspan="2">
              Vitamin A
              28%
            </td>
            <td>
              Vitamin C
              9%
            </td>
          </tr>
          <tr class="thin-end">
            <td colspan="2">
              Calcium
              7%
            </td>
            <td>
              Iron
              25%
            </td>
          </tr>
        </tbody>
      </table>

      <p class="small-info">* Percent Daily Values are based on a 2,000 calorie diet. Your daily values may be higher or lower depending on your calorie needs:</p>

      <table class="performance-facts__table--small small-info">
        <thead>
          <tr>
            <td colspan="2"></td>
            <th>Calories:</th>
            <th>2,000</th>
            <th>2,500</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th colspan="2">Total Fat</th>
            <td>Less than</td>
            <td>65g</td>
            <td>80g</td>
          </tr>
          <tr>
            <td class="blank-cell"></td>
            <th>Saturated Fat</th>
            <td>Less than</td>
            <td>20g</td>
            <td>25g</td>
          </tr>
          <tr>
            <th colspan="2">Cholesterol</th>
            <td>Less than</td>
            <td>300mg</td>
            <td>300 mg</td>
          </tr>
          <tr>
            <th colspan="2">Sodium</th>
            <td>Less than</td>
            <td>2,400mg</td>
            <td>2,400mg</td>
          </tr>
          <tr>
            <th colspan="3">Total Carbohydrate</th>
            <td>300g</td>
            <td>375g</td>
          </tr>
          <tr>
            <td class="blank-cell"></td>
            <th colspan="2">Dietary Fiber</th>
            <td>25g</td>
            <td>30g</td>
          </tr>
        </tbody>
      </table>

      <p class="small-info">
        Calories per gram:
      </p>
      <p class="small-info text-center">
        Fat 9
        &bull;
        Carbohydrate 4
        &bull;
        Protein 4
      </p>
    </section>
  </div>

<br />

<p class="nutrition-info">Nutrition information is approximate, based on current product and recipe. </p>

<p class="nutrition-info"><b>Allergen Disclaimer:</b> No allergen or nutritional information on our website should ever be considered a guarantee, but simply a best faith effort to serve our customers with quality, up-to-date information on our products. Karma Grove assumes no liability for any adverse reactions that may occur from consumption of our products. Know your body's limits and respect them.  </p>
