<div class="page-header">
  <h1>Get Involved <small>How You Can Help</small></h1>
</div>

<div class="row">

  <div class="col-lg-12 page-information">

    <p>
      Karma Grove is a not-for-profit organization that uses revenue from everyday purchases of goods and services to support local charities in an innovative way. The Karma Grove "conscious commerce" business model was designed to make fundraising more equally beneficial for all parties involved in a transaction, which will in turn create stronger incentive for people to support vital humanitarian and environmental causes. Karma Grove's business model does four useful things:
    </p>
<p>
      1). It makes everyday consumption of goods and services like food (e.g. Karma Bars) charitable by donating the profits of each transaction made in its marketplace and at its events to charity.
    </p>

    <p>

      2.) Karma Grove gives all parties involved in a business exchange the opportunity to determine who will benefit from their donation, and how. This helps allocate donor resources more effectively, as well as equitably due to more transparency.
    </p>

    3.) Karma Grove provides a freeplatform

  </p>Karma Grove was built with the vision of improving upon traditional fundraising methods by making better use of money given to charities. Traditionally, fundraising efforts largely ignore preferences of donors. In the past, when you've given to a charity, you often know very little choice about what charity your donations will go to, about how much of the money you're giving will actually  have for who will benefit from their donation and how, the preferences of donors include large portions of revenue disappearing to inefficiency, Karma Grove is built on a novel "conscious commerce" platform, where both parties in a transaction are directly involved in whom the profits benefit.</p>
      <a href="/batches/<%= Batch.last.id =%>/donations/new"><h4>Your Votes Decide Which Charities Benefit</h4>
      </a>
      <p>
       90% of the profits made from each purchase in KarmaGrove.com's marketplace, or in person at a Karma Grove affiliated vendor, will be donated to charity. Of that 90%, 50% is donated to the charity of the buyer's choice, while the remaining 40% is donated to a charity decided upon with out voting system. The entire KarmaGrove community is free to <strong><a href="/batches/<%= Batch.last.id =%>/donations/new">vote on our website here</a>.</strong>
     </p>

   </div>

 </div>

 <div class="row">

 <div class="other-ways-to-help col-md-12">

  <h4>Other Ways to Help</h4>
  <p>
    <strong> Help charities by purchasing hyperpalatable healthy snacks!</strong>
    <br />
    <%= link_to "Buy some Karma Coins", "#{products_path}?name=Karma%20Coin", {:class=>"link"}  %> or <%= link_to "anything in the Karma Grove marketplace", products_path %>, give away the transaction profits, and then tell your friends about it!
  </p>
  <p>
    <strong> Help those you love by cooking them a delicious snack! </strong>
    <br />
    <%= link_to "Use our recipe", "/Karma-Coin-Recipe" , {:class=>"link"} %> to make some Karma Coins and nourish those you love!
  </p>
  <p>
    <strong> Help Karma Grove grow by contributing to our code base! </strong>
    <br />
    If you know how to program, write some code for us--this website is completely open source <%= link_to "Karma Grove Source Code", "www.github.com/jmontross/karmagrove", {:class=>"link"} %>
  </p>
  <p>
    <strong> Help grow Karma Grove and spread the beauty of conscious commerce with some free marketing! </strong>
    <br />
    Follow us on <%= link_to "Twitter (@KarmaGrove)", "https://twitter.com/karmagrove" , {:class=>"link"} %>, like us on <%= link_to "Facebook", "http://www.facebook.com/karmagrovecafe" %> and for you mobile moguls, check out our <%= link_to "Instagram account", "http://instagram.com/karmagrovecafe?ref=badge" %>!
  </p>

</div>
</div>
<!--  Email Subscription -->

<div class="panel panel-default col-md-8">
  <div class="panel-body">

    <%= render "about/email_subscription" %>

  </div>
</div>

<!-- / Email Subscription -->

