<h1> Get Involved </h1>
<ul>
  <li>
    <strong> Want hyperpalatable healthy snacks?</strong>
    <br />
    <%= link_to "Buy some Karma Coins", "#{products_path}?name=Karma%20Coin"  %> or <%= link_to "anything on Karma Grove", products_path %> , give away the profits, and tell your friends
  </li>
  <li>
    <strong> Love to Cook? </strong>
    <br />
    <%= link_to "Make some Karma Coins", "/Karma-Coin-Recipe" %> and nourish those you love
  </li>
  <li>
    <strong> Know how to program? </strong>
    <br />
    Write some code - this website is open source <%= link_to "Karma Grove Source Code", "www.github.com/jmontross/karmagrove" %>
  </li>
</ul>

<%= render "about/email_subscription" %>