


<style>
/*hr {color:sienna;}*/
/*p {margin-left:20px;}*/

.hero {
  background-image:url('<%= asset_path("karma_grove_tree.jpg")%>');
  min-height:600px;
  max-width:auto;
}

.elephants {
  background-image:url('<%= asset_path("elephant_love.jpg")%>');
  min-height:386px;
  max-width:500px;
}

.explanation {
  float:right;
  text-align: left;
}

.explanation p {
  font-size:200%;
  font-family: gotham;
  line-height: 100%;
}

.nuru {
  min-height:570px;
  max-width:auto;
  background-image:url('<%= asset_path("maize_nuru_image.jpg")%>');
}
/*.nuru-explanation {
  font-size: 25px;
  font-style: bold;
}*/

.image {
  border-bottom: 150px;
  float:left;
}

.hemp {
  min-height:250px;
  max-width:250px;
  background-image:url('<%= asset_path("maize_nuru_image.jpg")%>');
}

.coin {
  min-height:250px;
  max-width:250px;
  background-image:url('<%= asset_path("maize_nuru_image.jpg")%>');
}

.oats {
  min-height:250px;
  max-width:250px;
  background-image:url('<%= asset_path("maize_nuru_image.jpg")%>');
}

.blueberry {
  min-height:250px;
  max-width:250px;
  background-image:url('<%= asset_path("maize_nuru_image.jpg")%>');
}

.honey {
  min-height:250px;
  max-width:250px;
  background-image:url('<%= asset_path("maize_nuru_image.jpg")%>');
}

.cranberry {
  min-height:250px;
  max-width:250px;
  background-image:url('<%= asset_path("maize_nuru_image.jpg")%>');
}

.karma {
  min-height:250px;
  max-width:250px;
  background-image:url('<%= asset_path("maize_nuru_image.jpg")%>');
}

.sentinel {
  min-height:250px;
  max-width:250px;
  background-image:url('<%= asset_path("sentinel.png")%>');
}

.greybears {
  min-height:165px;
  max-width:150px;
  background-image:url('<%= asset_path("grey-bears.png")%>');
}

.karma_tree {

}


</style>

<!-- <div class="hero image span12">

</div> -->


<!--
<div class="row">
  <div class="explain span12">
    <h1> Cultivating Positive Karma </h1>


     <%= image_tag("karma_grove_tree.jpg", class: "karma_tree") =%>


     <br />
     When you buy within Karma Grove 50% of the profits are yours to give.
  </div>
</div> -->
<!--
<div class="row">
   <div class="span12">

   <h1> Nourish your body </h1>
  </div>
</div>
 -->
<div id="about-carousel" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%=  image_tag("maize_nuru_image.jpg") %>

      <!--
      #TODO - figure out way to make the caption at the top.
      Remove the <p>Nourish your body </p> from the carousel caption.
      <div class="carousel-caption" style="position-relative:top:0px">
        <p>Nourish your body </p>
      </div>
       -->
      <div class="carousel-caption">
        <h2>
        <p>Nourish your body </p>
        <p>Nourish Your Community</p>
      </h2>
      </div>
    </div>

    <div class="item">
      <%=  image_tag("maize_nuru_image.jpg") %>
      <div class="carousel-caption">
        <h2>
        <p> Giving IS Receiving. </p>
        <p> Every sale helps your community.</p>
      </h2>
      </div>
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#about-carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#about-carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<script>
$(document).ready(function(){

  $('.carousel').carousel({
    interval: 5000
  })
})
</script>

<!-- thinking of putting up a bunch of images at top -->
<!--

<div class="row">
  <div class="span3 image oats">
  </div>
  <div class="span3 image coin">
  </div>
  <div class="span3 image blueberry">
  </div>
  <div class="span3 image honey">
  </div>
</div>
<br />
<div class="row">
  <div class="span3 image cranberry">
  </div>
  <div class="span3 image karma">
  </div>
  <div class="span3 image hemp">
  </div>
  <div class="span3 image hemp">
  </div>

</div>
 -->


<div class="row">
   <div class="span12">

   <h1> How does it work? </h1>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h2> Sentinel Cafe </h2>
  </div>

  <hr />
  <div class="sentinel-explanation explanation span8">
    <p>
      The sales of karma coins take place in small batches at the Sentinel Cafe in Santa Cruz.
    </p>
  </div>
  <div class="sentinel span4 image">
  </div>
</div>
 <hr />
 <div class="row">
   <div class="span12">

   <h1> Who Benefits? </h1>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h2> Elephants and bees </h2>
  </div>
</div>
 <hr />

<div class="row">

  <div class="elephants image span6">

  </div>

  <div class="elephant-explanation explanation span6">
    <p>
      Elephants and bees builds fences of hive of bees to protect farmers crops from elephants.
    </p>
  </div>
</div>

<hr />
<div class="row">
  <div class="span12">
    <h2> Nuru International </h2>
  </div>
</div>

<hr />
<div class="row">
  <div class="nuru-explanation explanation span12">
      <p>
       Nuru helps small communities in Africa with water issues and more.
      </p>
  </div>
</div>

<div class="row">

  <div class="nuru image span12">

  </div>

</div>

 <hr />
<div class="row">
  <div class="span12">
    <h2> Grey Bears </h2>
  </div>
</div>
 <hr />
<div class="row">


  <div class="greybears image span4">

  </div>

  <div class="greybears-explanation explanation span8 ">
    <p>
     Grey Bears feeds the elderly in Santa Cruz, providing thousands of meals weekly.
   </p>
  </div>
</div>

<div class="row">
   <div class="span12">
   <h1> Join the revolution!</h1>
  </div>

   <div class="span12">
  <form>

  </form>
  </div>

</div>

<h1> Plant your seed and help karma grow </h1>
<ul>
  <strong>
  <li> We will email you once per month showing what charities received donations </li>
  <li> We will update you no more than once per month aside from the monthly donation email </li>
  <li> We will never sell or share your email under any circumstances </li>
</strong>
</ul>

<br />

<%= render "about/email_subscription" %>





