
<div class="row">
   <div class="span12">
    <h1> Eat well & do good </h1>
   </div>
</div>


<style>
/*hr {color:sienna;}*/
/*p {margin-left:20px;}*/

.karmabar {

  border-radius: 100%;
}
.carousel-caption {

  border-radius: 5%;
}

.image {
  border-radius: 5%;
}

.carousel-caption p {
  color: white;
  line-height: 20px;
  text-align: center;
}

/*.carousel-caption {
      max-width: 550px;
      padding: 0 20px;
      margin:0 auto;
      margin-top: 200px;
      text-align:center;
}*/

img {
  border-radius: 5%;
}
.karmatree {
 border-radius: 0%;
}

.karmichand{
  border-radius: 25%;
}


.hero {
  background-image:url('<%= asset_path("karma_grove_tree.jpg")%>');
  min-height:600px;
  max-width:auto;
}

.elephants {
  background-image:url('<%= asset_path("elephant_love.jpg")%>');
  min-height:386px;
  max-width:500px;
}

.explanation {
  float:right;
  text-align: left;
}

.explanation p {
  font-size:200%;
  font-family: gotham;
  line-height: 100%;
}

.nuru {
  min-height:570px;
  max-width:auto;
  background-image:url('<%= asset_path("maize_nuru_image.jpg")%>');
}
/*.nuru-explanation {
  font-size: 25px;
  font-style: bold;
}*/

.image {
  border-bottom: 150px;
  float:left;
}

.hemp {
  min-height:250px;
  max-width:250px;
  background-image:url('<%= asset_path("maize_nuru_image.jpg")%>');
}
.item {
  max-width:860px;
  position: center;
}

.coin {
  min-height:250px;
  max-width:250px;
  background-image:url('<%= asset_path("maize_nuru_image.jpg")%>');
}

.oats {
  min-height:250px;
  max-width:250px;
  background-image:url('<%= asset_path("maize_nuru_image.jpg")%>');
}

.blueberry {
  min-height:250px;
  max-width:250px;
  background-image:url('<%= asset_path("maize_nuru_image.jpg")%>');
}

.honey {
  min-height:250px;
  max-width:250px;
  background-image:url('<%= asset_path("maize_nuru_image.jpg")%>');
}

.cranberry {
  min-height:250px;
  max-width:250px;
  background-image:url('<%= asset_path("maize_nuru_image.jpg")%>');
}

.karma {
  min-height:250px;
  max-width:250px;
  background-image:url('<%= asset_path("maize_nuru_image.jpg")%>');
}

.sentinel {
  min-height:250px;
  max-width:250px;
  background-image:url('<%= asset_path("sentinel.png")%>');
}

.greybears {
  min-height:165px;
  max-width:150px;
  background-image:url('<%= asset_path("grey-bears.png")%>');
}

.karma_tree {

}


</style>

<div class="row">
   <div class="span9">
<div id="about-carousel" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <!--  <div class="item active">
      <%=  image_tag("KarmicFlow.png",) %>


      #TODO - figure out way to make the caption at the top.
      Remove the <p>Nourish your body </p> from the carousel caption.
      <div class="carousel-caption" style="position-relative:top:0px">
        <p>Nourish your body </p>
      </div>

      <div class="carousel-caption">
        <h2>
        <p>Nourish your body </p>
        <p>Nourish Your Community</p>
      </h2>
      </div>
    </div> -->


    <div class="item">
      <%=  image_tag("karmaCoinBigSurSmall.jpg") %>

      <!--
      #TODO - figure out way to make the caption at the top.
      Remove the <p>Nourish your body </p> from the carousel caption.
      <div class="carousel-caption" style="position-relative:top:0px">
        <p>Nourish your body </p>
      </div>
       -->
      <div class="carousel-caption">
        <h2>
        <p>Nourish Your body </p>
        <p>Nourish Your Community</p>
      </h2>
      </div>
    </div>


  <!--   <div class="item">
      <%=  image_tag("kalani.png") %>
      <div class="carousel-caption">
        <h2>
        <p> Build a grove of karma with us </p>
        <p> Cultivate paradise </p>
      </h2>
      </div>
    </div> -->

   <!--  <div class="item active">
      <%=  image_tag("karma_coin_jtree.jpg") %>
      <div class="carousel-caption">
        <h2>
        <p> Eat well in your back country </p>
        <p> Do good in your mother country </p>
      </h2>
      </div>
    </div>


    <div class="item">
      <%=  image_tag("redwoodgrovepath.jpg") %>
      <div class="carousel-caption">
        <h2>
        <p> Journey through our grove  </p>
        <p> Cultivate positive karma </p>
      </h2>
      </div>
    </div>
 -->
    <div class="item">
      <%=  image_tag("buddha_green.jpg") %>
      <div class="carousel-caption">
        <h2>
        <p> <a href="/buddha"> Listen to the teaching of Buddha </a> </p>
        <p> Support Charities in your community </p>
      </h2>
      </div>
    </div>

  </div>

  <!-- Controls -->
<a class="carousel-control left" href="#about-carousel" data-slide="prev">&lsaquo;
</a>
<a class="carousel-control right" href="#about-carousel" data-slide="next">&rsaquo;</a>
</div>

  </div>
  <div class="span3">
    <!-- for now nothing here to just get the hero to not suck. -->
<!--        <div class="span3">
<%=  image_tag("karma_grove_tree.jpg", :class => "karmichand") %>
  </div> -->
<!--
  <div class="span4">

  </div> -->
</div>

</div>


<script>
$(document).ready(function(){

  $('.carousel').carousel({
    interval: 5000
  })
})
</script>

<!-- thinking of putting up a bunch of images at top -->
<!--

<div class="row">
  <div class="span3 image oats">
  </div>
  <div class="span3 image coin">
  </div>
  <div class="span3 image blueberry">
  </div>
  <div class="span3 image honey">
  </div>
</div>
<br />
<div class="row">
  <div class="span3 image cranberry">
  </div>
  <div class="span3 image karma">
  </div>
  <div class="span3 image hemp">
  </div>
  <div class="span3 image hemp">
  </div>

</div>
 -->

<div class="row">
   <div class="span12">
    <h1><%= link_to "Karma Coins", "/Karma-Coin" %> are superfoods that nourish our bodies </h1>
   </div>
</div>


<div class="row">
   <div class="span6">
<%=  image_tag("karma_coin_hand.jpeg", :class => "karmichand") %>
  </div>
  <div class="span6">
    <h2> <%= link_to "Karma Coins", "/Karma-Coin" %> give you the right to donate half the profits to charity </h2>
  </div>


</div>

 <div class="row">
   <div class="span12">

   <h1> Who Benefits? </h1>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h2> Elephants and bees </h2>
  </div>
</div>
 <hr />

<div class="row">

  <div class="elephants image span6">

  </div>

  <div class="elephant-explanation explanation span6">
    <p>
      Elephants and Bees organizes local African resources to construct fences made with beehives connected by suspended wire.  If an elephant hits the wire, out fly the bees, making the elephant flee due to natural instinct.  Farmers harvest  honey and instead of elephants being killed, three species flourish in harmony:  bees, humans, and elephants.
    </p>
  </div>
</div>

<hr />
<div class="row">
  <div class="span12">
    <h2> Nuru International </h2>
  </div>
</div>

<hr />
<div class="row">
  <div class="nuru-explanation explanation span12">
      <p>
       Nuru helps small communities in Africa with water issues.
      </p>
  </div>
</div>

<div class="row">

  <div class="nuru image span12">

  </div>

</div>

 <hr />
<div class="row">
  <div class="span12">
    <h2> Grey Bears </h2>
  </div>
</div>
 <hr />

<div class="row">


  <div class="greybears image span4">

  </div>

  <div class="greybears-explanation explanation span8 ">
    <p>
     Grey Bears feeds the elderly in Santa Cruz, providing thousands of meals weekly.
   </p>
  </div>
</div>

<div class="row">
    <div class="span3"></div>
    <div class="span6">
      <h1> <a href="/products/Karma-Coin/purchases/new"> Exchange some karma <br /> </a>  </h1>
    </div>
    <div class="span3"></div>

</div>

<div class="row">
    <div class="span3"></div>
    <div class="span6">
      <%= image_tag("karmabar.jpg", :link => '/products/Karma-Coin/purchases/new', :class => "karmabar") %>

    </div>
    <div class="span3"></div>

</div>



<!--
this makes no sense.. sounds flowery
<div class="row">
   <div class="span12">

   <h1> artisan market for community </h1>
  </div>
</div> -->

<h1> Where in the real world can I get these ? </h1>

<div class="row">
  <div class="span12">
    <h2> Sentinel Cafe </h2>
  </div>

  <hr />
  <div class="sentinel-explanation explanation span8">
    <p>
      The sales of Karma Coins have been known to occur in small batches at the Sentinel Cafe in Santa Cruz.
      <!-- TODO Check the status of batches here <a href= >-->
    </p>
  </div>
  <div class="sentinel span4 image">
  </div>
</div>




<%= render "about/email_subscription" %>





