<div class="row" id="about-page-container">

  <div class="span7" id="about-col-left">

    <h2> Who are we? </h2>
    <p>
     <a href="#jump-to-karma" id="jump">Karma</a> <a href="#jump-to-grove" id="jump">Grove</a> is not your average business or charity.  We believe we can make the world better while making tasty treats.  We believe we can make the world better through <i>conscious commerce</i>--empowering the consumer to make a positive, informed, and and predictable impact with the power of their purchase emanating into their community. Eighty of the profits from all transactions in our marketplace are given to charities or community causes. Ten percent is kept for the organization to slowly grow, and ten percent is given to whoever brings item to market.  Unlike a traditional fundraiser, Karma Grove gives both parties involved in the deal a <i>choice</i>.
   </p>

   <p>
    Karma Grove does not yet facilate conscious commerce through it's marketplace, but it does enable fundraising for charity partners directly through the sale of <a href="/Karma-Coin" title="Read Up on Karma Coin Ingredients!" rel='tooltip' data-placement="top"><b>Karma Coins</b></a>.
  </p>

  <br />


  <h2> The Story of Karma Grove </h2>

  <p>
    Joshua Montross founded Karma Grove on his own personal philosophy, that justice and charity aren't so different, and that a productive business doesn't have to be exploitative. The following is Joshua's story of how Karma Grove came to be:
  </p>

  <p>
    <blockquote><i>
      As a sophomore in college, I was a distressed international business student living a life of privilieged first world problems. I was anxious at the prospect of entering a world of such growing gaps between the rich and the poor.  I had come to college thinking I would one day be a banker, and I left with a desire to create a farm to table system that empowers local economies and shrinks the wealth gap.  I went to work as a programmer, biding my time and gaining the worldly knowledge I would need to fulfill this quest calling from within.
    </i>
  </blockquote>
</p>
<p>
 <blockquote><i>
  I was in Washington, DC and I had grown disillusioned with the economic doctrine of rational self-interest that was taught to me in my economics courses.  I also felt that the <a target="new" href="http://en.wikipedia.org/wiki/Principal%E2%80%93agent_problem"> agency problem </a> could only be alleviated using a corporate structure that did not separate owner and worker or corporate interest and community interest.</i>
</blockquote>
</p>

<p>
 <blockquote>
   <i>
    I began spending more and more time at the Gelman Libaray at GWU. I was reading a lot of philosophy and after entering a Judaic Philosophy contest for prize money, I became intrigued with the semantic similarity between charity and justice in the Hebrew language.  I ended up writing an essay, and developed the concept for a business that allowed its customers to give away half of the profits, the employees to give away thirty percent, to keep ten percent for growth, and to give ten percent to employees as a bonus on top of wages.  I initially wanted to form a cafe and call it Karma Cafe and replace the Starbucks in the basement of Gelman.
  </i>
</blockquote>
</p>

<p>
  <blockquote>
    <i>
      I did not win the philosophy contest, and for a long time,  Karma Grove only existed in my writing and dreams.
    </i>
  </blockquote>
</p>

<p>
  <blockquote>
    <i>
      Following stints as a project manager and software engineer in the District, I moved to California in 2011. While there, one of my good friends, <b><%= link_to "Magan Biggs", "https://twitter.com/maganbunny" %></b>, taught me to make (particularly delicious) granola bars.  I tweaked her recipe and made it a little more to my taste, and what I began to call Joy Coins were born.
    </i>
  </blockquote>
  <p>
    <blockquote>
      <i>
        I named them Joy Coins because I had a nice roommate named Joy who suggested I stop using butter to make them vegetarian.  My friends loved them and I realized I could combine my passion, my Karma Cafe business model, with my tasty treats that people were already enjoying. Later this same recipe is what became <a href="/Karma-Coin-Facts"title="Read Up on Karma Coin Ingredients!" rel='tooltip' data-placement="top"><b>Karma Coins</b></a> when I began to market them and sell under the name Karma Grove.
      </i>
    </blockquote>
  </p>

  <p>
    <blockquote>
      <i>
       Another year went by and I found myself laid off in December, 2012.  A month later, in January, 2013 I created the Karma Grove application and put it on GitHub. It was born as an open source community effort. That winter, I also began selling Joy Coins at a cafe in Santa Cruz for anywhere from $1 to $3.  I switched to just saying - pay what you want at some point, and was averaging close to $40 per batch of granola bars that took me about an hour to make with $10 to $20 in ingredients costs.  
     </i>
   </blockquote>
 </p>

 <p>
  <blockquote>
    <i>
     Some time shortly after that, I renamed my Joy Coins as Karma Coins. I felt that name was more worthy. I wanted to plant the corporation in the logos of Karma, in hopes of unraveling many of the troubles we have created.
   </i>
 </blockquote>
</p>

<p>

  <blockquote>
    <i>
     Attending bake sales intermittently throughout 2013, I would take the cash collected from each and give 90% of it to <%= link_to "Grey Bears", "http://www.greybears.org/items-needed/" %>.  I had initially pledged to give 30% of profits to a location of the employees choice and ten percent kick back for crafting the Karma Coins.  I later decided to forgo the ten precent gift to myself as well. The sales receipts are displayed on Karma Grove's <%= link_to "twitter feed", "http://twitter.com/karmagrove" %> as well as on our <%= link_to "about donations page" "/about/donations" %>.
   </i>
 </blockquote>
</p>

<blockquote>
  <i>
    So, that's how our model was born, and that's how Grey Bears became our first partner. After all of the hard work, it was that simple, yet so rewarding. Partnered with Grey Bears, we were now feeding the elderly and hungry in Santa Cruz and we were using money from purchases made by other Santa Cruzians to feed themselves. We began to make relationships with other non-profits truly appreciate, including <%= link_to "Elephants and Bees", "http://elephantsandbees.com/" %> and <%= link_to "Nuru", "http://www.nuruinternational.org/" %>.  This is the beginning.  You are as much a part of this story as you choose.  
  </i>
</blockquote>
</p>


</div>
<div class="span5">
  <%= render partial: "about/owl_carousel_about" %>
  <h2> What do we stand for? </h2>

  <p>
   The money you give to Karma Coins goes directly to local charities. You decide what charity will benefit from 50% of the sale's proceeds. We believe <i>this is your right</i>, and we apply this same policy to everything you purchase with Karma Grove.  Sometimes we also keep a minimum from sales and donate all the profits beyond our minimum threshold.  For instance, at dances joshua often gives anything beyond $10 to charity, which allows him to dance for free.  
 </p>
 <p>
   As cultivators of Karma Grove, our employees pledge most of the remaining profits to a charity of their own choice. We believe this our right as the hard-working co-creators of this grove.  <!-- For more information on donations, <%= link_to "click here", "#" %>. -->
 </p>
 <p>
   Karma Grove is transparent. We're open. We don't keep secrets. All donations made from Karma Coin sales and in the marketplace are tracked and detailed reports our posted <%= link_to "here", "/about/donations" %>, on our website.  We also have older receipts posted on Twitter from the early days <%= link_to "here", "http://www.twitter.com/karmagrove" %>.
 </p>

 <div id="jump-to-karma"></div>

 <br />

 <p>
  <h4 class="dict-head">kar·ma  [kahr-muh]  - noun </h4>
  <ol class="dict" type="I">
    <li>
      the sum of a person's actions in life, viewed as deciding their fate in future existences.
    </li>
    <div id="jump-to-grove"></div>
    <li>
      fate; destiny; cause. Synonyms: predestination, predetermination, lot, kismet.
    </li>

    <li>
      the good or bad emanations felt to be generated by someone or something.
    </li>
  </ol>
</p>


<div id="jump-to-grove"></div>
<p>
  <h4 class="dict-head"> grove  [grohv] noun </h4>
  <ol class="dict" type="I">
    <li>
      a small wood or forested area, usually with no weeds: a grove of pines.
    </li>
    <li>
      a small orchard or stand of fruit-bearing trees, especially citrus trees: a grove of lemon trees.
    </li>
  </ol>
</p>

<h2>Thanks</h2>
<p>
  This site is an experiment from Joshua's heart of hearts.  His dream of a paradoxical business, giving away 80% of its profits and having no shareholders, is a dream he hopes others will share and morph into something new that serves us even better. The dream that an organization can continue to sustainably grow to benefit us and our earth.  It is a snowball that we push up a hill.   Khalil Gibran tells us that all great truths are a paradox.
</p>

<p>
  We hope you enjoyed reading a little bit of history on how this all came to be.  We're here now, and we know it is just the beginning of something great. This site will serve as a marketplace of conscious commerce, flowing money to those in need in our glocal community.
</p>


<h2> Copyright Information </h2>
<p>
  For Karma Grove's licensing information <a class="modal-popup" data-controls-modal="copyright-modal" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#copyright-modal">
  <b>click here</b>
</a>.
</p>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="copyright-modal" tabindex="-1" role="dialog" aria-labelledby="copyright-modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="copyright-modalLabel">
          Karma Grove Copyright Information
        </h4>
      </div>
      <div class="modal-body">
        <!-- Add more copyright info -->
        <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Karma Grove</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://karmagrove.com" property="cc:attributionName" rel="cc:attributionURL">Joshua Montross</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="http://karmagrove.com" rel="dct:source">http://karmagrove.com</a>.
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/4.0/80x15.png" /></a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
