<!--
can't decide if i like an image here...
<%= image_tag("karma_coin_hand.jpeg") %>
-->

<!-- TODO slider carousel showing ingredients that are pretty -->

<!-- Show nutrition of each ingredient individually -->
<!-- http://www.dragonherbs.com/prodinfo.asp?number=012 -->

<%= render "about/karma_coin_carousel" %>

<%= render "karma_coin_superfoods" %>

<h2> <%= link_to "Want to buy one?", "/products?name=Karma Coin" %>   </h2>

<div class="nutrition-facts">
  <%= render "about/nutrition_facts"%>
</div>