<style media="screen" type="text/css">

.receipts {
  transform:rotate(90deg);
  -ms-transform:rotate(90deg); /* IE 9 */
  -webkit-transform:rotate(90deg); /* Safari and Chrome */
}

</style>

<%- model_class = Donation -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<!-- Sidebar -->
<div class="container" id="donations_page_container">
  <div class="row">
   <div class="col-md-3" id="leftCol">

    <div class="well" id="our_charities_nav_well">
      <h4>Our Charities</h4>
      <ul class="nav nav-stacked" id="sidebar">
        <li><a href="#sec1">Elephants and Bees</a></li>
        <li><a href="#sec2">Genesis Womens Center</a></li>
        <li><a href="#sec3">GreyBears.org</a></li>
        <li><a href="#sec4">Jubilee Park & Community Center</a></li>
        <li><a href="#sec5">Save the Elephants</a></li>
      </ul>
    </div>

  </div>

  <!-- end sidebar -->

  <div class="col-md-9">

   <h2 id-"sec0">Join Us</h2>

   <% if @donations %>
   <table class="table table-striped">
    <thead>
      <tr>
        <th>Amount Donated</th>
        <th>Deductibility Status Description</th>
        <th>Donation Date </th>
        <th>Retailer</th>
      </tr>
    </thead>
    <tbody>

      <% @donations.each do |donation| %>
      <tr charity_id="<%=donation.charity_id %>">
        <td> $<%= donation.amount %></td>
        <% if @charities %>
        <td> <%= @charities[donation.id].deductibility_status_description %></td>
        <% end %>
        <td> <%= donation.donation_date %></td>
        <% if @retailers %>
        <td> <%= @retailers.name %> </td>
        <% end %>
      </tr>
      <% end %>

    </tbody>
  </table>
  <% end %>
  <p>
    90% of every sale through Karma Grove, whether in our marketplace or elsewhere, is given to charity. Of that 90%, 50% is given to a charity of the buyer's (your) choice. To determine which charity the remaining 40% of the transaction revenue is donated to, we ask you to <b><a href="/batches/5/donations/new">vote on our website.</a></b>
  </p>

  <p>In 2013, Karma Grove gave away more Karma Coins than sold, and 90% of total revenue went to Grey Bears.  Thanks to early supporters <a href="https://twitter.com/sentinelcafe" target="new">Sentinel Cafe</a> for partnering and Santa Cruzians of <a href="https://twitter.com/cruzio" target="new"> Cruzio </a> for supporting us.  In 2014 we hope to increase our sharing ten fold.  <a href="/Karma-Coin">Will you join us?</a></p>

  <div class="well well-lg">
    <h4><a class="list-group-item" href="#">Your votes decide which charities will receive funds from Karma Grove</a></h4>
  </div>


  <hr class="col-md-12">

  <div class="row">
    <div class="col-md-12">
      <h2 id="sec1"><a href="http://elephantsandbees.com/">Elephants and Bees</a></h2>

      <p>
        <a href="http://elephantsandbees.com/">The Elephants and Bees Project</a> is a collaberative effort between <a href="#sec5">Save The Elephants</a> (also a Karma Grove charity), Disney's Animal Kingdom and the world-renownded Oxford University. The partnership aims to protect African Elephants in rural areas through an innovative study that seeks an in-depth understanding of elephant behaviour. Ultimately, the products of this innovative research and its on-the-ground implementation reduce damage from crop-raiding elephants and the killing of these magnificent animals as a result.</p>

        <p>Elephants and Bees uses African Elephants' instinctive avoidance of honey bees to accomplish the complex problem of reducing crop destruction while protecting elephants from violence. To do so in an environmentally-conscious way, the project's members are exploring the use of novel Beehive fences--an invention of Dr. Lucy King. These fences are designed to be a natural elephant deterrent, and they offer the additional benefits of creating a social and economic boost to poverty-stricken rural communities via pollination services and the sustainable harvesting of “Elephant-Friendly Honey”. To learn more about The Elephants and Bees Project, please visit their website <a href="www.elephantsandbees.org">www.ElephantsAndBees.org</a>.
      </p>

      <p>
        Karma Grove founder Joshua Montross proudly signed a check for $50 in September, 2014 and donated it to The Elephants and Bees project. The funds donated were raised from your purchases through Karma Grove. Thank you for your gifts!
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 image-panel">
      <div class="panel panel-default">
        <div class="panel-heading donation_panel"><h3>$30.00</h3></div>
        <div class="panel-body check_panel"><%= image_tag "greybears30.jpg", style:"max-height: 250px", class: "img-responsive img-rounded" %>
        </div>
      </div>
    </div>

    <div class="col-md-6 image-panel">
      <div class="panel panel-default">
        <div class="panel-heading donation_panel"><h3>$92.00 Donations</h3></div>
        <div class="panel-body check_panel"><%= image_tag "greybears92.jpg", style:"max-height: 250px", class: "img-responsive img-rounded" %>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <h2 id="sec2"><a href="http://www.genesisshelter.org/">Genesis Womens Center</a></h2>
      <p>
        We raised $51 dollars for the Genesis Womens Shelter in Dallas Texas from our Karma Coins and Karma Bars. Karma Grove founder Joshua Montross baked and sold the bars at Monica Blossom's Ecstatic Moondance. Ecstatic Moondance is a community dance gathering offered on the day of a full moon every month. Check out their <a href="http://www.meetup.com/ecstatic-dance-dallas-movement-music-community/">meetup</a>.
      </p>
      <p>
        Previously known as Shelter Ministries of Dallas, Genesis Women's Shelter & Support has been helping women and children who have been victims of domestic violence for over 30 years. The Dallas organization's mission is to end the epidemic of domestic violence against women and children by stopping individual victimization and reducing the devastating impact of family violence through safety, shelter and expert services to battered women and their children.
      </p>
      <p>
        Genesis offers emergency shelter, safety and counseling for victims of domestic violence as well as trauma recovery, EMDR therapy, community education and the Genesis On-Site School--a safe place for children staying at the shelter to learn.
        <p>
          <p>
            To learn more about about Genesis Women's Shelter & Support visit <a href="http://www.genesisshelter.org/">www.GenesisShelter.org</a>
          </p>
        </div>
      </div>

      <div class="row">

        <div class="col-md-6 image-panel">

          <div class="panel panel-default">
            <div class="panel-heading donation_panel"><h3>$25.00</h3></div>
            <div class="panel-body check_panel"><a <a href="/assets/GenesisWomens25.jpg"><%= image_tag "GenesisWomens25.jpg", style:"max-height: 250px", class: "img-responsive img-rounded" %></a>
            </div>
          </div>

        </div>

        <div class="col-md-6 image-panel">

          <div class="panel panel-default">
            <div class="panel-heading donation_panel"><h3>$26.00</h3></div>
            <div class="panel-body check_panel"><a <a href="http://www.theweathercompany.com/sites/default/files/images/coming_soon_0.jpg"><%= image_tag "http://www.theweathercompany.com/sites/default/files/images/coming_soon_0.jpg", style:"max-height: 250px", class: "img-responsive img-rounded" %></a>
            </div>
          </div>

        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-12">
          <a href="http://www.greybears.org/"><h2 id="sec3">GreyBears.org</h2></a>
          <p>
            Karma Grove proceeds have been responsible for more than $122 in donations to Grey Bears so far in 2014.
          </p>
          <p>
            Grey Bears is charity focused on improving the health and wellbeing of seniors through volunteerism and community participation. The Grey Bears network of more than 500 weekly volunteers gleans, assembles and delivers bags of healthy groceries to seniors throughout northern California communities. To date, their <a href="http://www.greybears.org/our-programs/brown-bag-program/">Brown Bag Program</a> has blessed seniors with over 2.7 million pounds of *healthy* food.</p>

            <p>In addition to their alleviating hunger and promoting well-being in the senior community, GreyBears participates in environmental causes as well. The organization operates a duo of recycling centers in the Santa Cruz area and diverts approximately 7,500 tons of reusable material annually.
            </p>
          </div>
        </div>

        <div class="row">

          <div class="col-md-6 image-panel">
           <div class="panel panel-default">
            <div class="panel-heading donation_panel"><h3>$30.00</h3></div>
            <div class="panel-body check_panel"><a <a href="/assets/greybears30.jpg"><%= image_tag "greybears30.jpg", style:"max-height: 250px", class: "img-responsive img-rounded" %></a>
            </div>
          </div>
        </div>

        <div class="col-md-6 image-panel">
          <div class="panel panel-default">
            <div class="panel-heading donation_panel"><h3>$92.00 Donations</h3></div>
            <div class="panel-body check_panel">
              <a href="/assets/greybears92.png"><%= image_tag "greybears92.jpg", style:"max-height: 250px", class: "img-responsive img-rounded" %></a>
            </div>
          </div>
        </div>

      </div>

      <hr>

      <div class="row">
        <div class="col-md-12">
          <h2 id="sec4"><a href="https://duckduckgo.com/l/?kh=-1&uddg=http%3A%2F%2Fjubileecenter.org%2F">Jubilee Park & Community Center</a></h2>
          <p>
           In 1997, Jubilee Park & Community Center was formed with the mission to be a catalyst for community renewal and enrichment in the surrounding South Dallas/Fair Park neighborhood.  Their approach is a unique, comprehensive model for community revitalization.  Jubilee Park & Community Center address each of the main factors which create vitality in a community:  education, public safety, public health, housing, and community ownership.
         </p>
       </div>
     </div>

     <hr>

     <div class="row">
      <div class="col-md-12">
       <a href="http://savetheelephants.org/"> <h2 id="sec5">Save the Elephants</h2></a>
       <p>Karma Grove's sales have generated 50 dollars for the Wildlife Conservation Network's Safe the Elephants (S.T.E.) foundation. S.T.E. is one of the largest and most effective on-the-ground anti-poaching programs in the world.</p>

       <p>Illegal poaching and game hunting have led to the critically-endangered African Elephant population's rapid decline in recent years. The species is on the verge of total extinction, a tragedy that will become reality in just a few years time without an even stronger effort.</p>

       <p>In response, S.T.E. has increased its efforts to take both a hands-on/on-the-ground approach to physically protect these beautiful animals, as well as encourage the bonds of local and international policy to end the threat. In whole, S.T.E. is making a holistic effort at protecting one of the world's greatest treasures.</p>

       <p>A primary focus of S.T.E. is curbing both the supply and demand of the ivory market in China. China is the world's hub for such brutal and despicable activity. According to a <a href="http://www.nytimes.com/2014/11/13/opinion/stop-chinas-ivory-trade.html?_r=0">November 6, 2014 release by The New York Times</a>, <i>China buys 70 percent of the illegally poached African elephant tusks for use by its government factories to manufacture jewelry and trinkets like bookmarks, rings, figurines, combs, chopsticks and religious sculptures.</i></p>

       <p>
        To help stop this superflous slaughter, Save the Elephants has scaled up it's anti-poaching programs in Kenya's Samburu National Reserve. The organization is also working with Kenyan Wildlife Service and local communities to end this travesty.
      </p>

    </div>
  </div>

  <div class="row">

   <div class="col-lg-8 center-donation-panel-container image-panel">
    <div class="panel panel-default" id="image-panel-STE">
      <div class="panel-heading donation_panel"><h3>$50.00</h3></div>
      <div class="panel-body check_panel"><a href="/assets/save_the_elephants_donation.png"><%= image_tag "save_the_elephants_donation.png", style:"max-height: 250px", class: "img-responsive img-rounded" %></a>
      </div>
    </div>
  </div>

</div>

<hr>

<div class="well well-lg">
  <h4><a class="list-group-item" href="#">Your votes decide which charities will receive funds from Karma Grove</a></h4>
</div>


</div>
</div>
</div>



<!-- script references -->
<script src="js/scripts.js"></script>