<footer>
  <div id="copyright-disclaimer" style="margin-top: 5px; margin-bottom: 10px;">
    <p style="text-align: center; margin-bottom: 2px;">Copyright &copy <script type="text/javascript">
    var d = new Date();
    document.write(d.getFullYear());
    </script>
    Karma Grove. All Rights Reserved.
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/4.0/80x15.png" /></a>
  </p>
</div>
<div class="navbar navbar-static-bottom">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav-collapse">
        <ul class="nav">
          <li class="dropup">
            <%= link_to(("Karma Coins " + content_tag(:span,"", class: "caret") + content_tag(:span,"", class: "sr-only")).html_safe, "/Karma-Coin", class: "dropdown-toggle", "data-toggle" => "dropup", id: "drop2", role: "button") %>
            <ul class="dropdown-menu dropup-menu" role="menu", aria-labelledby="dropFoot">
              <li>
                <%= link_to "What Are They?", "/Karma-Coin" %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to "Buy Karma Coins", "/products?name=Karma Coin" %>
              </li>
              <li class="divider"></li>
               <li>
                <%= link_to "Nutrition Facts", "#" %>
              </li>
            </ul>
          </li>
          <!-- <li><%= link_to "Charities",  "/charities" %></li> -->
          <li><%= link_to "Get Involved", "/Get-Involved" %>
          </li>
          <li><%= link_to "About", about_path  %></li>

          <!-- <li><%= link_to "Cart" %></li> -->
          <!-- <div id="user_nav"> -->
          <li class="nav pull-left">
            <!-- search bar here -->
          </li>
        </ul>

        <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-46522810-1', 'karmagrove.com');
        ga('send', 'pageview');

        </script>

      </div>
    </div>
  </div>
</div>

<style>

html, body {
  height: 100%;
}


.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
}

/*ul.dropup-menu.dropup-menu:before {
    visibility:hidden;
}*/

.dropdown-menu:before,
.dropdown-menu:after {
     border: none !important;
     content: none !important;
}


</style>

</footer>