<% unless @disable_nav %>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/"> Karma Grove </a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="dropdown">
            <%= link_to(("Karma Coins " + content_tag(:span,"", class: "caret") + content_tag(:span,"", class: "sr-only")).html_safe, "/Karma-Coin", class: "dropdown-toggle", "data-toggle" => "dropdown", id: "drop1", role: "button") %>
            <ul class="dropdown-menu" role="menu", aria-labelledby="dropHead">
              <li>
                <%= link_to "What Are They?", "/Karma-Coin" %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to "Buy Karma Coins", "/products?name=Karma Coin" %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to "Nutrition Facts", "#" %>
              </li>
            </ul>
          </li>
          <!-- <li><%= link_to "Charities",  "/charities" %></li> -->
          <li><%= link_to "Get Involved", "/Get-Involved" %>
          </li>
          <li><%= link_to "About", about_path  %></li>

          <!-- <li><%= link_to "Cart" %></li> -->
          <!-- <div id="user_nav"> -->

          <% if user_signed_in? %>

          <li>
            <%= link_to 'My profile', edit_user_registration_path %>
          </li>
          <li>
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          </li>
          <li>
            <a href="#">
              Welcome <%= current_user.email %>
            </a>
          </li>
          <% else %>
          <li>
            <%= link_to "Market", "/markets" %>
          </li>



          <% flash.each do |name, msg| %>

          <li>
            <a> <%= content_tag :div, msg, id: "flash_#{name}" %>
            </a>
          </li>
          <% end %>

          <% end %>
        </ul> <!-- nav -->

<!--   Start Google Search Bar -->
        <div id='cse'>Loading</div>
        <script src='//www.google.com/jsapi' type='text/javascript'></script>
        <script type='text/javascript'>
        google.load('search', '1', {language: 'en', style: google.loader.themes.V2_DEFAULT});
        google.setOnLoadCallback(function() {
          var customSearchOptions = {};
          var orderByOptions = {};
          orderByOptions['keys'] = [{label: 'Relevance', key: ''} , {label: 'Date', key: 'date'}];
          customSearchOptions['enableOrderBy'] = true;
          customSearchOptions['orderByOptions'] = orderByOptions;
          customSearchOptions['overlayResults'] = true;
          var customSearchControl =   new google.search.CustomSearchControl('003387130402393903552:tjahuzpavvg', customSearchOptions);
          customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
          var options = new google.search.DrawOptions();
          options.setAutoComplete(true);
          customSearchControl.draw('cse', options);
        }, true);
        </script>

       <!--  End Google Search Bar -->

        <script>
        $(function() {
  // Setup drop down menu
  $('.dropdown-toggle').dropdown();

  // Fix input element click problem
  $('.dropdown input, .dropdown label').click(function(e) {
    e.stopPropagation();
  });
});
        </script>
      </div> <!-- .nav-collapse -->
    </div> <!-- .container -->
  </div><!--  .nav-inner -->
</div> <!-- navbar-fixed-top -->
<% end %>

<style type='text/css'>

/*Navbar*/

.navbar .nav {
  margin-top: 5px;
}

.navbar .brand {
padding: 8px 20px 10px;
}

/*Search Bar*/
#cse {
  width: 30%;
  float:right;
  margin-top:4px;
}

.gsc-control-cse {
  font-family: Arial, sans-serif;
  border-color: transparent;
  background-color: transparent;
  padding: 5px;
  padding-left:5px;
}

.gsc-control-cse .gsc-table-result {
  font-family: Arial, sans-serif;
}

input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus {
  border-color: #D9D9D9;
}

td.gsc-search-button{
  display: none;
}


.gsc-input-box{
  height: 30px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
.gsc-tabHeader.gsc-tabhInactive {
  border-color: #FF9900;
  background-color: #FFFFFF;
}
.gsc-tabHeader.gsc-tabhActive {
  border-color: #E9E9E9;
  background-color: #E9E9E9;
  border-bottom-color: #FF9900
}
.gsc-tabsArea {
  border-color: #FF9900;
}
.gsc-webResult.gsc-result, .gsc-results .gsc-imageResult {
  border-color: #FFFFFF;
  background-color: #FFFFFF;
}
.gsc-webResult.gsc-result:hover, .gsc-imageResult:hover {
  border-color: #FFFFFF;
  background-color: #FFFFFF;
}
.gs-webResult.gs-result a.gs-title:link, .gs-webResult.gs-result a.gs-title:link b, .gs-imageResult a.gs-title:link, .gs-imageResult a.gs-title:link b  {
  color: #0000CC;
}
.gs-webResult.gs-result a.gs-title:visited, .gs-webResult.gs-result a.gs-title:visited b, .gs-imageResult a.gs-title:visited, .gs-imageResult a.gs-title:visited b {
  color: #0000CC;
}
.gs-webResult.gs-result a.gs-title:hover, .gs-webResult.gs-result a.gs-title:hover b, .gs-imageResult a.gs-title:hover, .gs-imageResult a.gs-title:hover b {
  color: #0000CC;
}
.gs-webResult.gs-result a.gs-title:active, .gs-webResult.gs-result a.gs-title:active b, .gs-imageResult a.gs-title:active, .gs-imageResult a.gs-title:active b {
  color: #0000CC;
}
.gsc-cursor-page {
  color: #0000CC;
}
a.gsc-trailing-more-results:link {
  color: #0000CC;
}
.gs-webResult .gs-snippet, .gs-imageResult .gs-snippet, .gs-fileFormatType {
  color: #000000;
}
.gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl {
  color: #008000;
}
.gs-webResult div.gs-visibleUrl-short {
  color: #008000;
}
.gs-webResult div.gs-visibleUrl-short  {
  display: none;
}
.gs-webResult div.gs-visibleUrl-long {
  display: block;
}
.gs-promotion div.gs-visibleUrl-short {
  display: none;
}
.gs-promotion div.gs-visibleUrl-long  {
  display: block;
}
.gsc-cursor-box {
  border-color: #FFFFFF;
}
.gsc-results .gsc-cursor-box .gsc-cursor-page {
  border-color: #E9E9E9;
  background-color: #FFFFFF;
  color: #0000CC;
}
.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
  border-color: #FF9900;
  background-color: #FFFFFF;
  color: #0000CC;
}
.gsc-webResult.gsc-result.gsc-promotion {
  border-color: #336699;
  background-color: #FFFFFF;
}
.gsc-completion-title {
  color: #0000CC;
}
.gsc-completion-snippet {
  color: #000000;
}
.gs-promotion a.gs-title:link,.gs-promotion a.gs-title:link *,.gs-promotion .gs-snippet a:link  {
  color: #0000CC;
}
.gs-promotion a.gs-title:visited,.gs-promotion a.gs-title:visited *,.gs-promotion .gs-snippet a:visited {
  color: #0000CC;
}
.gs-promotion a.gs-title:hover,.gs-promotion a.gs-title:hover *,.gs-promotion .gs-snippet a:hover  {
  color: #0000CC;
}
.gs-promotion a.gs-title:active,.gs-promotion a.gs-title:active *,.gs-promotion .gs-snippet a:active {
  color: #0000CC;
}
.gs-promotion .gs-snippet, .gs-promotion .gs-title .gs-promotion-title-right, .gs-promotion .gs-title .gs-promotion-title-right * {
  color: #000000;
}
.gs-promotion .gs-visibleUrl,.gs-promotion .gs-visibleUrl-short  {
  color: #008000;
}
</style>
